<div class="header">
    <div class="header-wrap">
        <div class="current-user">
            <eq name="user.uid" value="student">
                <a id="current-user" href="__ROOT__/User/userinfo"> | 当前用户: {$user.name} | </a>
                <else/>
                <span id="current-user"> | 当前用户: {$user.name} | </span>
            </eq>
            <a href="password-{$user.type}.php">修改密码</a>
            <span> | </span>
            <a class="log-out" href="__ROOT__/Home/logout">退出</a>
        </div>
        <div class="logo" onClick="javascript:window.location.href='lecturelist-{$user.type}.php';"></div>
    </div>
</div>

