<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include file="head.html" />
    <title>登录</title>
</head>
<body>
<!-- BEGIN HEADER-->
<div class="header">
    <div class="header-wrap">
    </div>
</div>
<!-- END HEADER -->

<!-- BEGIN CONTENT -->
<div class="content">
    <div class="popup box">
        <h1 class="popup-header">登录</h1>
        <form name="form-login" id="form-login" action="login" method="post">
            <label>账号</label>
            <input type="text" name="username" />
            <label>密码</label>
            <input type="password" name="password" id="password" />
            <div class="popup-action">
                <a class="btn-normal" href="javascript:document.getElementById('form-login').submit();">登录</a>
            </div>
            <div class="popup-footer">
                <a href="forgot">忘记密码?</a>
            </div>
        </form>
    </div>
</div>
<!-- END CONTENT -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-wrap">

    </div>
</div>
<!-- END FOOTER -->

<script language="javascript" type="text/javascript">
    $("#password").keydown(function(e) {
        if(e.which==13) {
            if($("#password").val()!="") {
                $("#form-login").submit();
            } else {
                history.go(0);
            }
        }
    });
</script>
</body>
</html>