
.notice-body .no-announcement{
    line-height: 50px;
    text-align: center;
}

.announcement-type>span{
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #54ABD4;
}

.notice-body .item-main mark{
    padding: 3px 15px;
    margin: 0 auto;
    float: left;


}
.item-top-line{
    /*background-color: #eee;*/
    padding: 6px 3px;
}

.item-main a{
    transition: 0.25s ease-out;
}

.item-main a:hover{
    text-decoration: none;
    color: #54ABD4;
}

.notice-body .item{
    border: none;
    padding: 0 0 40px 0;
}

.item-main blockquote{
    line-height: 1.2em;
}

.notice-body blockquote{
    margin: 10px 0 2px 0;
}

.notice-body blockquote h4{
    font-size: 14px;
    border: none;
}

/*.notice-body mark{*/
    /*padding: .3em;*/
/*}*/

.notice-modal .modal-header span{
    display: block;
    margin: 5px 0 0;
}
.notice-modal .modal-body{
    line-height: 1.7em;
}

.notice-modal .modal-body p{
    line-height: 1.7em;
}

.notice-modal .modal-body p span{
    font-size: 14px;
}

.notice-modal .modal-body h4, .modal-body h3{
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.announcement-content h4 {
    color: #7d7d7d;
    margin: 0;
    padding: 0 0 4px 0;
}
