.info{
    padding: 0;
}

.info-avatar{
    margin: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.info-avatar .img-responsive{
    width: 15%;
    margin: 0 auto;
}

.info-avatar h3{
    font-weight: bold;
    margin-top: 15px;
    padding: 0 14px;
}

.info-avatar .score {
    margin: 12px 0 20px 0;
}

.info-avatar .score img {
    display: inline-block;
    width: 4%;
}

.info-avatar .score span{
    vertical-align: middle;

}

.info-main {
    margin: 36px 28px 0 0;
}

@media (max-width: 767px) {
    .info-avatar {
        padding: 36px 48px;
    }
    .info-main {
        margin: 36px 28px 36px 24px;
    }
}

.info-main .info-line{
    color: #999;
}

.info-main .info-line span{
    color: #666;
    /*font-size: 12px;*/
}

.info-main hr {
    margin: 12px 0;
}

.statistics {
    padding-bottom: 60px;
}

.score-card{
    text-align: center;
}
.score-card img{
    width: 90%;
    position: absolute;
}
.score-card div{
    z-index: 10;
}
.rate-header{
    display: inline-block;
    color: #7d7d7d;
    width: 80%;
    margin: 24px 0 0 0;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: solid 2px #eee;
}
.rates {
    display: inline-block;
}
.rate-labels {
    padding: 5px 8px 0 0;
    border-right: solid 2px #eee;
    color: #b5b5b5;
    text-align: right;
}
.rate-powers{
    padding: 5px 0 0 3px;
    text-align: left;
}
.rate-power {
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 2px;
    background: #fbd16f;
    vertical-align: middle;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .rate-header{
        display: inline-block;
        color: #7d7d7d;
        width: 80%;
        margin: 24px 0 0 0;
        padding: 0 8px;
        font-weight: bold;
        font-size: 14px;
        border-bottom: solid 2px #eee;
    }
    .score-card img{
        width: 86%;
        position: absolute;
    }
    .rate-labels {
        padding: 0 4px 0 0;
        border-right: solid 2px #eee;
    }
    .rate-labels div {
        font-size: .75rem;
        padding: 0;
        margin: 0;
    }
    .rate-powers {
        padding: 0 0 0 2px;
        text-align: left;
    }
    .rate-powers div span {
        font-size: .625rem;
    }
    .rate-power {
        display: inline-block;
        height: 12px;
        margin: 0 2px 0 2px;
        background: #fbd16f;
        vertical-align: middle;
    }
}
@media (max-width: 767px) {
    .score-card {
        padding: 0 0 18px 0;
    }
    .rate-header{
        margin: 0;
        font-size: 1rem;
    }
    /*.score-card img{*/
        /*width: 95%;*/
        /*position: absolute;*/
    /*}*/
    /*.rate-labels {*/
        /*padding: 18px 24px 0 0;*/
        /*border-right: solid 2px #eee;*/
    /*}*/
    /*.rate-labels div {*/
        /*font-size: 1rem;*/
        /*padding: 0;*/
        /*margin: 0;*/
    /*}*/
    /*.rate-powers {*/
        /*padding: 18px 0 0 20px;*/
        /*text-align: left;*/
    /*}*/
    /*.rate-powers div span {*/
        /*font-size: 1rem;*/
    /*}*/
    /*.rate-power {*/
        /*display: inline-block;*/
        /*height: 12px;*/
        /*margin: 0 2px 0 2px;*/
        /*background: #fbd16f;*/
        /*vertical-align: middle;*/
    /*}*/
}


.course-buttons {
    display: none;
}

.reply-item {
}
.fake-cursor {
    color: #88C5E1;
    cursor: pointer;
}