@charset "utf-8";

body, ul, li, p, h1, h2, table, th, td, input, label {
  margin: 0;
  padding: 0;
}
body {
  color: #4d4842;
  font-size: 12px;
  font-family:
    'microsoft yahei','helvetica neue', arial,
    'hiragino sans gb', stheiti,
    'wenquanyi micro hei',
    sans-serif;
  background: #F9F9F9;
}
h1, h2 {
  font-weight: normal;
}
h2 {
  font-size: 16px;
}
li {
  list-style: none;
}
textarea {
  resize: vertical;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a, .menu li, input, textarea {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.box {
  -webkit-box-shadow: 0 1px 1px #a0a0a0;
  -moz-box-shadow: 0 1px 1px #a0a0a0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#a0a0a0')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#a0a0a0');
  box-shadow: 0 1px 1px #a0a0a0;
}
.header {
  background: url(../img/bg.png) center no-repeat;
  height: 200px;
  margin-bottom: 25px;
}
.header-wrap {
  margin: 0 auto;
  width: 960px;
}
.current-user {
  padding-top: 8px;
  text-align: right;
  font-size: 12px;
  color: #fff;
}
.log-out {
  text-decoration: underline;
}
.logo {
  background: #555;
  margin-top: 40px;
  width: 382px;
  height: 94px;
  background: url(../img/logo.png) no-repeat;
}

.content {
  margin: 0 auto;
  width: 960px;
  min-height: 400px;
  clear: both;
  overflow: hidden;
}
.left {
  float: left;
  width: 235px;
  height: 180px;
  margin-right: 25px;
}
.menu {
  float: left;
  padding-top: 20px;
  padding-bottom: 16px;
  margin-bottom: 12px;
  background: #EAEAE9;
}
.menu li {
  float: left;
  height: 16px;
  width: 210px;
  font-size: 16px;
  padding: 8px 0 16px 25px;
  margin-bottom: 4px;
  cursor: pointer;
}
li a{
  color: #4d4842;
}
.menu li a div, .menu li div {
  display: inline;
  padding-left: 1px;
  padding-right: 1px;
  color: #fff;
  background: #699CD2;
}
.menu li:hover, .menu-selected{
  background: #699CD2;
}
.menu li:hover>a, .menu-selected{
  color: #fff;
}
.menu .menu-selected {
  cursor: default;
}
.right {
  float: left;
  width: 700px;
}
.list, .detail {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  background: #EAEAE9;
}
.list-header, .detail-header {
  background: #699CD2;
  height: auto;
  font-size: 20px;
  color: #fff;
  padding: 8px 0 10px 25px;
}
.list-detail {

}
.item {
  height: 50px;
  width: 655px;
  font-size: 16px;
  margin: 10px 20px 10px 25px;
  border-bottom: solid 1px #a0a0a0;
}
.item:hover>.action .btn-hidden {
  display: block;
}
.item:hover>.action .btn-top-lecture {
  display: block;
}
.item:hover>.action .btn-untop-lecture {
  display: block;
}
.info {
  float: left;
  width: 415px;
  height: 40px;
  cursor: pointer;
}
.info:hover>.info-title {
  text-decoration: underline;
}
.info-title {
  display: block;
  color: #5B8EC1;
}
.info-detail {
  font-size: 12px;
}
.info-detail span {
  font-size: 16px;
}
.action {
  float: left;
  width: 240px;
}
.action a {
  float: right;
  text-decoration: none;
}

.loader {
  margin: 10px 20px 10px 25px;
}

.detail-summary {
  width: 655px;
  height: auto;
  margin: 10px 20px 10px 25px;
  padding-bottom: 12px;
  border-bottom: solid 1px #a0a0a0;
  clear: both;
  overflow: hidden;
}
.detail-summary span {
  font-size: 16px;
}
.detail-summary a {
  float: right;
  margin-left: 5px;
  text-decoration: none;
}
.summary-list {
  float: left;
  padding-top: 0;
  width: 300px;
}
.summary-item {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
}
.summary-item span {
  font-size: 14px;
}
.summary-action {
  float: right;
  width: 100px;
}
.summary-action a {
  float: right;
  margin-top: 5px;
}
.detail-content, .detail-img {
  width: 655px;
  margin: 20px 0 10px 25px;
}

.footer {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  background: #EAEAE9;
}
.footer-wrap {
  margin: 0 auto;
  width: 960px;
  text-align: right;
}

.btn-new {
  float: left;
  width: 210px;
  height: 16px;
  font-size: 16px;
  padding: 8px 0 16px 25px;
  background: #937B52;
  color: #fff;
}
.btn-hidden {
  display: none;
  margin-right: 10px;
  width: 68px;
}
.btn-s, .btn-hidden, .btn-normal, .btn-status, .btn-normal-top, .btn-normal-look {
  height: 16px;
  padding: 10px 0px 15px 0px;
  font-size: 16px;
  text-align: center;
  background: #937B52;
  color: #fff;
}

.btn-new:hover, .btn-s:hover, .btn-hidden:hover, .btn-normal:hover, .btn-normal-top:hover, .btn-normal-look:hover {
  background: #BD9D66;
}
.btn-normal {
  width: 155px;
}
.btn-normal-top{
  width: 108px;
}
.btn-normal-look{
  margin-left: 10px;
  width: 70px;
}
.btn-status {
  width: 155px;
  background: #BD9D66;
}
.btn-s {
  margin-left: 10px;
  width: 68px;
}
.btn-more {
  height: 50px;
  width: 655px;
  font-size: 16px;
  margin: 10px 20px 10px 25px;
  color: #5B8EC1;
  text-decoration: underline;
}
.btn-top-lecture, .btn-untop-lecture{
  display: none;
  margin-right: 10px;
  width: 34px;
  height: 16px;
  padding: 8px 0 17px 0px;
  text-align: center;
}
.btn-top-lecture{
  background: #937B52 url(../img/top.png) center no-repeat;
}
.btn-untop-lecture{
  background: #937B52 url(../img/untop.png) center no-repeat;
}
.btn-top-lecture:hover {
  background: #BD9D66 url(../img/top.png) center no-repeat;
}
.btn-untop-lecture:hover {
  background: #BD9D66 url(../img/untop.png) center no-repeat;
}

/*----popup----*/
.popup {
  margin: 0 auto;
  width: 520px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 28px;
  margin-bottom: 12px;
  background: #EAEAE9;
  clear: both;
  overflow: hidden;
}
.popup-header {
  background: #699CD2;
  height: 16px;
  font-size: 20px;
  color: #fff;
  padding: 10px 0 22px 25px;
}
.popup-body {
  font-size: 14px;
  color: #4d4842;
  padding: 10px 0 22px 25px;
}
.popup-footer {
  height: 16px;
  font-size: 14px;
}
.popup-footer a {
  color: #937B52;
  text-decoration: underline;
}
form {
  width: 500px;
  font-size: 16px;
  margin: 20px 20px 10px 25px;
}
form a {
  float: left;
}
label {
  position: relative;
  left: -2px;
  padding-bottom: 2px;
  font-size: 14px;
}
input[type="text"],
input[type="password"],
textarea,
select {
  border: #777 1px solid;
  background: #FFFCF2;
  display: block;
  width: 470px;
  margin-bottom: 5px;
  padding: 5px;
  font-family:
    'microsoft yahei','helvetica neue', arial,
    'hiragino sans gb', stheiti,
    'wenquanyi micro hei',
    sans-serif;
  font-size: 16px;
  color: #4d4842;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: #699CD2 1px solid;
  background: #fff;
}
textarea {
  height: 80px;
  resize: none;
}
.btn-img {
  padding: 5px 10px 5px 10px;
  width: 58px;
  font-size: 14px;
  background: #937B52;
  color: #fff;
}
.popup-check {
  padding: 30px 0 0 0;
}
.popup-action {
  height: 50px;
  margin-top: 20px;
}

.select-time {
  margin-bottom: 6px;
  border: #699CD2 1px solid;
  height: 30px;
}

#times {
  display: inline;
  width: 30px;
}
#name, #number {
  display: inline;
  width: 90px;
}

#grade-prefix {
  display: inline;
  width: 90px;
}
#grade-suffix {
  display: inline;
  width: 375px;
}

/*----table----*/
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
}
th {
  background: #699CD2;
  color: #fff;
  font-size: 14px;
}
th, td {
  border: #699CD2 1px solid;
  padding: 5px;
}
tr.alt td {
  background: #b2b0a2;
}
td a,
p a {
  color: #937B52;
  text-decoration: underline;
}
