.section-settings {
    padding-bottom: 40px;
}

.profile{
    padding: 0;
}

.profile div {
    text-align: center;
}

.profile-main {
    background-color: #f5f5f5;

    padding: 40px 20px 10px;
}

.profile .profile-avatar{
    padding: 0;
    margin-bottom: 10px;
}

.profile-avatar img{
    height: 80px;
}

.profile-name {
    color: #3a9fcd;
    padding: 0 0 10px;
}

.profile-block {
    margin: 10px 0 20px;
}

.profile-block span{
    color: #333;
}

.profile-block>span{
    color: #999;
}

.profile-block>span>span{
    margin: 0 5px 0 2px;
}


.profile .actions {
    padding: 18px 0 28px 0;
}

.profile .actions a{
    margin: 0 2px 0 2px;
}


.profile-title >span{
    display: block;
    margin: 0 0 20px;
    padding: 5px 0;
    border-bottom: 1px solid #54ABD4;
}

.info-line {
    margin: 0 0 4px 0;
}

.info-line span {
    color: #54abd4;
    font-size: .875rem;
}
.info-rate .rate-header {
    color: #f8c038;
}

.item-info {
    min-height: 24px;
}

.btn-primary .badge{
    color: #88C5E1;
}

.user blockquote{
    padding: 7px 0;
    border: none;
}


#courses .item{
    border: none;
    margin: 0 0 14px 0;
}

#courses .row{
    margin: 0;
}

#courses .course-card{
    /*width: 90%;*/
}

#courses a{
    transition: 0.25s ease-out;
    text-decoration: none;
}
#courses h5 {
    padding: 8px 16px;
    border-left: 3px solid #88C5E1;
}

#courses .seg {
    padding: 12px 0 24px 0;
}

.course-card .score{
    padding: 0;
}

.course-card-title{
    max-width: 118px;
    display: block;
    /*width: 100%;*/
    padding: 0 12px 0 0;
    word-break: break-all;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card-title a{
    font-size: 16px;
    color: #333;
}

.course-card-title:hover{
}

#friends .row{
    margin: 0;
}

#friends .item{
    border: none;

}

#friends .friend-card{
    box-shadow: 0 1px 2px #ddd;
}

/*#friends .btn-primary{*/
    /*padding: 4px 14px;*/
    /*font-size: 12px;*/
/*}*/

/*#friends .btn-primary:hover{*/
    /*border-color:#204d74;*/
/*}*/

.friend-body{
    background-color: #f5f5f5;
    padding: 20px 15px;
}

.friend-body .item-main{
    color: #999;
}

.friend-course-num span{
    color: #333;
}

.friend-footer{
    padding: 10px 15px 20px 15px;
}


.nav-tabs>li.active>a,.user .nav-tabs>li.active>a:focus,
.user .nav-tabs>li.active>a:hover{
    border: none;

}

.user .nav-tabs>.active>a,
.user .nav-tabs>.active>a:focus,
.user .nav-tabs>.active>a:hover{
    border-bottom: 2px solid #88C5E1;
}

.user .nav-tabs>li.active>a:hover{
    border-bottom: 2px solid #88C5E1;
}

.user .nav-tabs>li>a{
/*.user .nav-tabs>li>a{*/
    border: none;
}

.user .nav-tabs{
    /*border-bottom: 2px solid #eee;*/
}

.user .nav-tabs li{
    padding: 0 0 10px 0;
    margin-bottom: -1px;
}

.user .nav-tabs li a{
    padding: 3px;
    margin-right: 15px;
    font-size: 1rem;
    text-align: center;
}

.user .nav-tabs li.active a{
/*.user .nav-tabs li.active a{*/
    border-bottom: 2px solid #88C5E1;
}

.no-item{
    line-height: 50px;
    text-align: center;
}

#description{
    resize: none;
}

.message-sidebar ul li{
    margin: 0 0 10px;

    cursor: pointer;
    transition: 0.25s ease-out;
}

.message-sidebar ul li:hover{
    color: #3a9fcd;
}

.message-sidebar .active{
    color: #3a9fcd;
}

.message-sidebar .list-group-item{
    margin: 0 0 10px;
}

.message-body .message-reply span{
    float: left;
}

.message-body .item{
    /*border-top: 1px solid #eee;*/
    padding: 20px 0 5px;
}

.mes-time{
    float: left;
}

.message-form{
    margin: 30px 0 50px ;
}

.message-form textarea{
    height: 7em;
    resize: none;
    margin: 5px 0 10px;
}


.mes-item{
    min-height: 50px;
    border-top: 1px solid #eee;
    padding: 15px 0;
    margin: 15px 0;
    word-wrap: break-word;
    clear: both;
}

.mes-item a{
}

.mes-item p{
    min-height: 30px;
    margin: 5px 0 5px;
}

.mes-footer{
    margin: 10px 0 5px 0;
}


/*AVATAR*/
.avatar-submit{
    clear: both;
}

.avatar-change-left{
    /*padding-left: 0px;*/
}

#avatar_submit{
    height: 32px;
    width: 100px;
}
