<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <include file="./Application/Home/View/Home/head.html" />
    <title>讲座反馈</title>
</head>
<body>
<!-- BEGIN HEADER-->
<include file="./Application/Home/View/Home/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTENT -->

<div class="content">
    <!-- BEGIN LEFT -->
    <!-- <include file="__ROOT__/User/sidebar.html" /> -->
    <include file="./Application/Home/View/User/sidebar.html" />
    <!-- END LEFT -->
    <!-- BEGIN RIGHT -->
    <div class="right">
        <div class="list box">
            <h1 class="list-header">已报名讲座</h1>
            <ul class="list-detail">
                <foreach name="lectureToLog" item="lecture">
                <li class="item">
                    <p class="info">
                        <a class="info-title" href="__ROOT__/User/lectureDetail/{$lecture.id}">{$lecture.name}</a>
                        <span class="info-detail">by <span>{$lecture.lecturer}</span> @{$lecture.date} {$lecture.address}</span>
                    </p>
                    <p class="action">
                        <if condition="$lecture.state eq '0' ">
                        <a href="__ROOT__/User/dropLecture/{$lecture.id}" class="btn-normal">取消报名</a>
                        <else />
                        <a class="btn-status">正在退选中</a>
                        </if>
                    </p>
                </li>
                </foreach>
            </ul>
        </div>
        <div class="list box">
            <h1 class="list-header">已参与讲座</h1>
            <ul class="list-detail">
                <foreach name="lectureLogged" item="lecture">
                <li class="item">
                    <p class="info">
                        <a class="info-title" href="__ROOT__/User/lectureDetail/{$lecture.id}">{$lecture.name}</a>
                        <span class="info-detail">by <span>{$lecture.lecturer}</span> @{$lecture.date} {$lecture.address}</span>
                    </p>
                    <p class="action">
                        <a class="btn-s btn-status"><if condition="$lecture.state eq '1' ">已到场<else />未到场</if></a>
                    </p>
                </li>
                </foreach>
                <div id="list-more">
                </div>
                <a class="btn-more" data-total="{$total}" data-type="lecturelog-student">显示更多已参与讲座</a>
                <div class="loader" style="display:none;"><img src="img/loader.gif"> 加载中...</div>
            </ul>
        </div>
    </div>
    <!-- END RIGHT -->
</div>
<!-- END CONTENT -->

<!-- BEGIN FOOTER -->

<!-- END FOOTER -->

<script src="__PUBLIC__/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/load-more.js" type="text/javascript"></script>
</body>
</html>
