<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <title>讲座详情</title>
</head>
<body>
<!-- BEGIN HEADER-->
<include file="./Application/Home/View/Home/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTENT -->
<div class="content">
    <!-- BEGIN LEFT -->
    <include file="./Application/Home/View/User/sidebar.html" />
    <!-- END LEFT -->
    <!-- BEGIN RIGHT -->
    <div class="right">
        <div class="detail box">
            <h1 class="detail-header"><{$name}></h1>
            <div class="detail-summary">
                <{if $state==0}>
                <ul class="summary-list">
                    <li class="summary-item">当前状态 <span>正在报名中</span></li>
                    <li class="summary-item">主讲人 <span><{$lecturer}></span></li>
                    <li class="summary-item">讲座时间 <span><{$date}></span></li>
                    <li class="summary-item">讲座地点 <span><{$address}></span></li>
                </ul>
                <p class="summary-action">
                    <a class="btn-normal btn-signup-lecture" data-uid="<{$uid}>" data-lid="<{$lid}>"><{$count}> / <{$total}> 报名</a>
                    <a class="btn-normal">支付/已支付</a>
                </p>
                <{elseif $state==1}>
                <ul class="summary-list">
                    <li class="summary-item">当前状态 <span>正在报名中(已报名成功)</span></li>
                    <li class="summary-item">主讲人 <span><{$lecturer}></span></li>
                    <li class="summary-item">讲座时间 <span><{$date}></span></li>
                    <li class="summary-item">讲座地点 <span><{$address}></span></li>
                </ul>
                <p class="summary-action">
                    <a class="btn-normal" href="cancelsignup.php?id=<{$lid}>">取消报名</a>
                    <a class="btn-normal">支付/已支付</a>
                </p>
                <{elseif $state==2}>
                <ul class="summary-list">
                    <li class="summary-item">当前状态 <span>正在报名中(正在退选中)</span></li>
                    <li class="summary-item">主讲人 <span><{$lecturer}></span></li>
                    <li class="summary-item">讲座时间 <span><{$date}></span></li>
                    <li class="summary-item">讲座地点 <span><{$address}></span></li>
                </ul>
                <p class="summary-action">
                    <a class="btn-status">正在退选中</a>

                </p>
                <{elseif $state==3}>
                <ul class="summary-list">
                    <li class="summary-item">当前状态 <span>该讲座已结束</span></li>
                    <li class="summary-item">主讲人 <span><{$lecturer}></span></li>
                    <li class="summary-item">讲座时间 <span><{$date}></span></li>
                    <li class="summary-item">讲座地点 <span><{$address}></span></li>
                </ul>
                <p class="summary-action">
                    <a class="btn-status">已参与讲座(<{if $isPresent==0}>未<{/if}>到场)</a>
                    <a class="btn-normal">观看录播</a>
                </p>
                <div class="">
                    <h4>讲座讨论区</h4>
                    <div>
                        <div>
                            <span>用户名</span>
                            <span>时间</span>
                            <p>内容</p>
                        </div>
                    </div>
                    <form>
                        <textarea></textarea>
                        <button type="submit"><a class="btn-normal">评论</a></button>
                    </form>
                </div>
                <{elseif $state==4}>
                <ul class="summary-list">
                    <li class="summary-item">当前状态 <span>该讲座已结束</span></li>
                    <li class="summary-item">主讲人 <span><{$lecturer}></span></li>
                    <li class="summary-item">讲座时间 <span><{$date}></span></li>
                    <li class="summary-item">讲座地点 <span><{$address}></span></li>
                </ul>
                <p class="summary-action">
                    <a class="btn-status">未参与该讲座</a>
                    <a class="btn-normal">观看录播</a>
                </p>
                <{/if}>
            </div>
            <p class="detail-content"><{$content}>
            </p>
            <{if $existposter==1}>
            <p class="detail-img">
                <img src="img/<{$id}>.<{$extension}>" />
            </p>
            <{/if}>
        </div>
    </div>
    <!-- END RIGHT -->
</div>
<!-- END CONTENT -->

<!-- BEGIN FOOTER -->
<!-- END FOOTER -->

<script src="js/common.js" type="text/javascript"></script>
<script src="js/signup-lecture.js" type="text/javascript"></script>
</body>
</html>
