<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <include file="./Application/Home/View/Home/head.html" />
    <title>帮助学生报名</title>
</head>
<body>
<!-- BEGIN HEADER-->
<include file="./Application/Home/View/Home/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTENT -->
<div class="content">
    <div class="popup box">
        <h1 class="popup-header">帮助学生报名</h1>
        <form>
            <label>学生学号</label>
            <input type="text" id="number" />
            <div class="popup-action">
                <a class="btn-normal btn-signup-lecture-admin" data-lid="{$lid}">确认报名</a>
                <a class="btn-s btn-return">取消</a>
            </div>
        </form>
    </div>
</div>
<!-- END CONTENT -->

<!-- BEGIN FOOTER -->

<!-- END FOOTER -->

<script src="__PUBLIC__/js/signup-lecture-admin.js" type="text/javascript"></script>
</body>
</html>
