<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <include file="./Application/Home/View/Home/head.html" />

    <title>讲座列表</title>
</head>
<body>
<!-- BEGIN HEADER-->
<include file="./Application/Home/View/Home/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTENT -->
<div class="content">
    <!-- BEGIN LEFT -->
    <include file="./Application/Home/View/Administrator/sidebar.html" />
    <!-- END LEFT -->
    <!-- BEGIN RIGHT -->
    <div class="right">
        <div class="list box">
            <h1 class="list-header">正在报名中</h1>
            <ul class="list-detail">
                <foreach name="lectureSigningup" item="lecture">
                <li class="item">
                    <p class="info">
                        <a class="info-title" href="__ROOT__/Administrator/lectureDetail/id/{$lecture.id}">{$lecture.name}</a>
                        <span class="info-detail">by <span>{$lecture.lecturer}</span> @{$lecture.date} {$lecture.address}</span>
                    </p>
                    <p class="action">
                        <a href="__ROOT__/Administrator/lectureDetail/id/{$lecture.id}" class="btn-normal-look">查看报名</a>
                        <a href="__ROOT__/Administrator/helpSignUp/id/{$lecture.id}" class="btn-normal-top">帮助学生报名</a>
                        <neq name="lecture.top" value="0">
                            <a class="btn-hidden btn-untop-lecture" data-lid="{$lecture.id}"></a>
                            <else/>
                            <a class="btn-hidden btn-top-lecture" data-lid="{$lecture.id}"></a>
                        </neq>
                    </p>
                </li>
                </foreach>
            </ul>
        </div>
        <div class="list box">
            <h1 class="list-header" id="test">已结束讲座</h1>
            <ul class="list-detail">
                <foreach name="lectureEnded" item="lecture">
                <li class="item">
                    <p class="info">
                        <a class="info-title" href="__ROOT__/Administrator/lectureDetail/id/{$lecture.id}">{$lecture.name}</a>
                        <span class="info-detail">by <span>{$lecture.lecturer}</span> @{$lecture.date} {$lecture.address}</span>
                    </p>
                </li>
                </foreach>
                <div id="list-more">
                </div>
                <a class="btn-more" data-total="$total" data-type="lecturelist-admin">显示更多已结束讲座</a>
                <div class="loader" style="display:none;"><img src="img/loader.gif"> 加载中...</div>
            </ul>
        </div>
    </div>
    <!-- END RIGHT -->
</div>
<!-- END CONTENT -->

<!-- BEGIN FOOTER -->
<include file="./Application/Home/View/Home/footer.html" />
<!-- END FOOTER -->
</body>
</html>
