<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <include file="./Application/Home/View/Home/head.html" />
    <title>学生列表</title>
</head>
<body>
<!-- BEGIN HEADER-->
<include file="./Application/Home/View/Home/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTENT -->

<div class="content">
    <!-- BEGIN LEFT -->
    <include file="./Application/Home/View/Administrator/sidebar.html" />
    <!-- END LEFT -->
    <!-- BEGIN RIGHT -->
    <div class="right">

        <div class="detail box">
            <h1 class="detail-header">学生参加讲座信息列表</h1>
            <div class="detail-summary">
                <div class="detail-radio">
                    <input type="radio" name="findby" value="bytimes" id="bytimes" checked="checked" />
                    <label for="bytimes">
                        <span>查找筛选参与讲座次数为</span>
                        <input type="text" id="times" class="text-s" value="1" />
                        <span>的学生</span>
                    </label>
                </div>
                <div class="detail-radio">
                    <input type="radio" name="findby" value="byname" id="byname" />
                    <label for="byname">
                        <span>查找姓名为</span>
                        <input type="text" id="name" value="" />
                        <span>的学生</span>
                    </label>
                </div>
                <div class="detail-radio">
                    <input type="radio" name="findby" value="bynumber" id="bynumber" />
                    <label for="bynumber">
                        <span>查找学号为</span>
                        <input type="text" id="number" value="" />
                        <span>的学生</span>
                    </label>
                </div>

                <a class="btn-normal btn-export-excel">导出当前名单</a>
                <a class="btn-normal btn-find">查找筛选学生</a>
            </div>
            <p class="detail-content">
            <table>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>年级</th>
                    <th>参与次数</th>
                </tr>
            </table>
            <table class="table-result">
            </table>
            </p>
        </div>

    </div>
    <!-- END RIGHT -->
</div>
<!-- END CONTENT -->
<!-- BEGIN FOOTER -->
<!-- END FOOTER -->

<script src="__PUBLIC__/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/operate-studentlist.js" type="text/javascript"></script>
</body>
</html>
